/* Header Styles */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    color: white;
    padding: 20px;
}

.header-title {
    flex-grow: 1;
    color: white;
    padding: 10px;
    text-align: center
}

.header-title h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.header-title p {
    font-size: 16px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 20px;
    background-color: #00827F;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

p {
    margin: 10px;
    font-family: Calibri, serif;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.hamburger-menu {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
    margin-left: 20px; /* Add some space between the menu and content */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Main Styles */
main {
    background-color: #E3E4E1;
    color: black;
    padding: 20px;
}

article {
    width: 100%;
    margin-bottom: 10px;
}

.article-image {
    width: 100%;
}

/* Footer Styles */
footer {
    background-color: #000080;
    color: white;
    padding: 20px;
}

#joke-form button {
    font-size: 20px;
    font-weight: bold;
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#jokeResponse {
    font-size: 24px;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
}

/* Media Query to Show Hamburger Icon on Mobile */
@media screen and (max-width: 767px) {
    .hamburger-menu {
        display: block; /* Show on smaller screens */
    }
    /* Additional styles for the hamburger icon when it's visible */
    .bar {
        transition: 0.4s;
    }
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) {
    /* Adjust the styles for tablets here */
    header, main, footer {
        padding: 40px; /* Increase padding for tablets */
    }
    article h2 {
        font-size: 26px; /* Increase font size for headers */
        font-weight: bold;
        padding: 10px 0;
        width: 100%; /* Maintain 100% width for headers */
    }
    aside header {
        font-size: 20px; /* Define font size for aside headers on tablets */
    }

    aside section {
        font-size: 18px; /* Define font size for text inside aside sections on tablets */
    }

    aside footer {
        font-size: 14px; /* Define font size for aside footers on tablets */
    }
}

/* Media Query for Desktops */
@media screen and (min-width: 1024px) {
    /* Adjust the styles for desktops min-width: 1024pxhere */
    .header-title h1 {
        font-size: 48px; /* Increase font size for desktop */
        font-weight: bold;
    }

    .header-title p {
        font-size: 24px; /* Increase font size for desktop */
    }

    .desktop-nav-container {
        background-color: white;
        padding: 24px;
    }

    main {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-gap: 10px;
    }

    .desktop-article-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    article {
        margin: 0 20px 10px 0;
    }

    article header {
        background-color: #00827F;
        color: white;
        padding: 10px;
        margin: auto;
        height: auto;
    }

    article h2 {
        font-size: 30px; /* Increase font size for headers */
        font-weight: bold;
        padding: 10px 0;
    }

    article section {
        margin: auto;
        padding: 10px;
        background-color: white;
    }

    article section p {
        font-size: 26px;
        padding: 0;
    }

    article footer {
        background-color: #666666;
        color: white;
        padding: 10px;
        font-size: 16px; /* Increase font size for footers */
        height: 50px;
    }


    /* Remove margin from the last article to prevent extra spacing */
    article:last-child {
        margin-bottom: 0;
    }

    footer {
        font-size: 24px; /* Increase font size for footers */
    }

    .desktop-aside-container {
        display: flex;
        flex-direction: column;
    }

    aside {
        margin: 0 20px 20px 0;
    }

    aside header {
        background-color: #000080;
        color: white;
        font-size: 20px;
        padding: 10px;
        margin: auto;
        height: auto;
    }

    aside section section{
        font-size: 16px;
        padding: 10px;
        background-color: white;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the input and button horizontally */
        gap: 10px; /* Add space between the input and button */
    }

    .input-group input {
        width: 100%; /* Make the input fill the available width */
    }

    #jokeResponse {
        font-size: 14px; /* Set the desired font size (e.g., 14px) */
    }

    aside footer {
        background-color: #00827F;
        color: white;
        padding: 10px;
        font-size: 14px; /* Increase font size for footers */
        margin: 0 auto;
        height: 20px;
    }

}

/* Hide Navigation and Aside for Mobile View */
@media screen and (max-width: 767px) {
    nav, aside {
        display: none;
    }
}
